* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.backprofimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    height: 100vh;
}

/*home page*/
.homepage {
    display: flex;
    height: 100%;
}



/*left-side navbar*/
.left-side-navbar {

    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-around;
}

.left-side-navbar>* {
    padding: 4% 10% 4% 15%;
}
.navtext{
    font-weight: bold;
    color: black;
}
.logo {
    width: 28px;
    height: 23px;
}

.fix-top {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 70px;
    display: flex;

}

.searchbar {
    padding-left: 40%;
}

.searchbar>input {
    margin-top: 12px;
    background-color: rgb(233, 230, 230);
    border-radius: 20px;
    width: 290px;
    height: 42px;
    border: 0;
    padding-left: 50px;
}
.navitem{
    display: flex;
    justify-content: space-around;
}
/*display tweet*/

.display-tweet {
    width: 57%;
    background-color: white;


}

.contente {
    width: 90%;
    overflow-y: auto;
    display: flex;
}

/*who to follow */
.who-to-follow {
    width: 43%;
    background-color: white;
    margin-top: 35px;
    padding: 1% 1% 2% 2%;
}

.maybeknow {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.maybeknow>img {
    width: 27px;
    height: 27px;
    border-radius: 50px;

}







/*myprofile*/
.myprofile {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(233, 230, 230);
    border-right:1px solid  rgb(233, 230, 230); 




}

.upper-side-profile {
    background-color: rgb(233, 230, 230);
    height: 30vh;
}

.down-side-profile {
    position: relative;
    height: 30vh;
    padding-top: 12%;

}

.emailimage {
    width: 20%;
    position: absolute;
    bottom: 60%;
    left: 2%;
    border-radius: 50%;
    height: 65%;
    border: 3px solid white;

}

.lightwrite {
    font-size: 15px;
    color: gray;
}

.following{
    display: flex;

}
.following>:last-child{
    margin-left: 2%;
}
.edit{
    border: 1px solid rgb(126, 121, 121);
    margin-right: 10%;
    margin-left: 70%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    padding-left:1% ;
    cursor: pointer;
}


/*tweet card*/
.tweet-card {
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    border-top: 1px solid rgb(170, 167, 167);
    border-left: 1px solid rgb(233, 230, 230);;
    border-right:1px solid  rgb(233, 230, 230); ;
}

.tweet-card>* {
    padding-top: 10px;
}

.tweet-card-top {
    display: flex;
}

.user-and-content {
    margin-left: 2%;
}

.profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.like-button {
    display: flex;
    align-items: center;
}

.like {
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.tweet-container-image {
    max-width: 100%;
    border-radius: 15px;
}

.user-and-content {
    display: flex;
    flex-direction: column;
}

.user-tweet {
    display: flex;
}

.user-tweet>* {
    margin-left: 5px;
}
.birth-up{
    margin-top: 5%;
}

/*who to follow*/
.who-to-follow {
    margin-top: 70px;
}

.suggestions {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin-top: 10px;
}


/*Utilizes*/
.btn {
    height: 40px;
    width: 90px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-blue {

    color: white;
    background-color: rgb(104, 169, 243);
    font-weight: bold;
    font-size: 13px;
    border: 0px;
}
.page-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.popup {
    display: none;
    width: 40vw;
    height: 50vh;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 20%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    
}
.display{
    display: block;
}
.none{
    display: none ;
}
.svg{
    width:23px;
}
.cancel{
    width: 17px;
}
.username{
    padding-left: 10px;
}
.email{
    font-size: 16px;
    color: gray;
}

/*.bottom-nav{
    display: none;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    height:5vh;
    background-color: white;
    position: absolute;
    top: 95vh;
}
.bottom-nav>*{
    padding-left: 20%;
}
.nav-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-display>button{
   width: 5%;
}
.nav-display>*{
    height: 50%;
}*/
@media only screen and (max-width: 1200px) {
    .left-side-navbar {
        width: 10%;
    }

    .display-tweet {
        width: 50%;

    }

    .who-to-follow {
        width: 40%;

    }

    @media only screen and (max-width: 900px) {
        .left-side-navbar {
            width: 10%;
        }

        .display-tweet {
            width: 90%;
        }

        .who-to-follow {
            width: 0%;
            display: none;

        }

        .searchbar {
            display: none;
        }


        .emailimage {
            width: 15%;
            position: absolute;
            bottom: 60%;


        }
    }

    @media only screen and (max-width: 670px) {

        .emailimage {
            width: 25%;
            position: absolute;
            bottom: 75%;
            height: 50%;

        }

        .popup {
        width: 100vw;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        background-color: white;
        }

    }
     @media only screen and (max-width: 400px){
      /*  .bottom-nav{
            display: block;
        }
        .display-tweet{
            margin-left: 5%;
        }
        .left-side-navbar{
            display: none !important;
        }*/
        .emailimage {
            bottom: 85%;
        
     }

}}